/* body {
    flex-direction: row;
    background-color: #000000;
    height: 10px;
} */

.footer_div {
    display: flex;
    text-align-last: right;
    color: #ffffff;
    align-items: bottom;
    float: right;
    padding-right: 2%;
}






