body {
    background-color: #ece6cc;
}

.login_main {
    padding: 0px 200px;
    margin-top: 250px;
}

.login_container {
    background-color: white;
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.login_flexbox {
    display: flex;
    height: 100%;
}

.login_aside {
    flex: 1 1;
    height: auto;
    position: relative;
    max-width: 100%;
    width: inherit;
}

.login_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    flex-direction: column;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_inputbox {
    margin-bottom: 40px;
}

.login_font {
    color: red;
}

.input_line {
    font-weight: 400;
    padding: 10px 20px;
    border: 2px solid #8a8a8a!important;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
}

.login_btn {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: black;
    height: 50px;
    width: 300px;
    
}

